<section class="tasks-page">
  <div class="titlepage d-flex justify-content-end my-3">
    <h4>Calendar</h4>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 mb-3">
        <full-calendar [options]="calendarOptions">
          <ng-template #eventContent let-arg>
            <b>{{arg.timeText}}</b>
            <i>{{arg.event.title}}</i>
          </ng-template>
        </full-calendar>

      </div>
      <div class="col-lg-3">
        <div class="filter-calander">
          <!-- Start Top -->
          <div class="accordion mb-3" id="accordionPanelsStayOpenExample">
            <div class="accordion-item  first-accordion">
              <h4 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#unit-collapseOne" aria-expanded="true" aria-controls="unit-collapseOne">
                  الوحدات
                </button>
              </h4>
              <div id="unit-collapseOne" class="accordion-collapse collapse show  ">
                <div class="accordion-body">
                  <div class="form-check mb-3">
                    <input class="form-check-input me-2" type="checkbox" value="" id="ONE">
                    <label class="form-check-label" for="ONE">
                      تحتاج تجهيز الوحدة للمستأجر
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input me-2" type="checkbox" value="" id="two">
                    <label class="form-check-label" for="two">
                      جاهزة للمسأجر
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input me-2" type="checkbox" value="" id="three">
                    <label class="form-check-label" for="three">
                      مشغولة
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input me-2" type="checkbox" value="" id="four">
                    <label class="form-check-label" for="four">
                      تنظيف و صيانة
                    </label>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- End Top -->
          <div class="title-filter d-flex justify-content-between align-items-center w-100">
            <h6 class="mb-0">المهام</h6>
            <button class="btn btn-main">
              <span><i class="fa-solid fa-plus"></i></span>
              إضافة مهمة
            </button>
          </div>
          <!-- Start Button -->
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                  <div class="text">Todo</div>
                  <div class="number">2</div>

                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">شقة 1
                      <div class="info">
                        <div class="alert alert-danger" role="alert">
                          تنظيف و صيانة
                        </div>
                        <div class="dropdown">
                          <a class="btn  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Todo</a></li>
                            <li><a class="dropdown-item" href="#">Doing</a></li>
                            <li><a class="dropdown-item" href="#">Done</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">شقة 2
                      <div class="info">
                        <div class="alert alert-success" role="alert">
                          جاهزة للاستأجار
                        </div>
                        <div class="dropdown">
                          <a class="btn  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Todo</a></li>
                            <li><a class="dropdown-item" href="#">Doing</a></li>
                            <li><a class="dropdown-item" href="#">Done</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                  <div class="text">Doing</div>
                  <div class="number">2</div>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                <div class="accordion-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">شقة 2
                      <div class="info">
                        <div class="alert alert-primary" role="alert">
                          تحتاج تنظيف
                        </div>
                        <div class="dropdown">
                          <a class="btn  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Todo</a></li>
                            <li><a class="dropdown-item" href="#">Doing</a></li>
                            <li><a class="dropdown-item" href="#">Done</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">شقة 1
                      <div class="info">
                        <div class="alert alert-danger" role="alert">
                          تنظيف و صيانة
                        </div>
                        <div class="dropdown">
                          <a class="btn  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Todo</a></li>
                            <li><a class="dropdown-item" href="#">Doing</a></li>
                            <li><a class="dropdown-item" href="#">Done</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
                  <div class="text">Done</div>
                  <div class="number">2</div>

                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
                <div class="accordion-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">شقة 1
                      <div class="info">
                        <div class="alert alert-danger" role="alert">
                          تنظيف و صيانة
                        </div>
                        <div class="dropdown">
                          <a class="btn  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Todo</a></li>
                            <li><a class="dropdown-item" href="#">Doing</a></li>
                            <li><a class="dropdown-item" href="#">Done</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">شقة 2
                      <div class="info">
                        <div class="alert alert-success" role="alert">
                          مشغولة
                        </div>
                        <div class="dropdown">
                          <a class="btn  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Todo</a></li>
                            <li><a class="dropdown-item" href="#">Doing</a></li>
                            <li><a class="dropdown-item" href="#">Done</a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                                </div>
              </div>
            </div>
          </div>
          <!-- End Button -->

        </div>
      </div>
    </div>
  </div>
</section>
