nav.nav-bar {
  background-color: $white-color;
  border: 1px solid #E1DDF3  ;
  border-radius: 20px;
  padding: rem(7) rem(10);
  @media (min-width: 1400px)  {
    padding: rem(10) rem(20)  }
  position: sticky;
  top: 1rem;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 14px 34px #F5F3FF;
  .user-info {
    display: flex;
    align-items: center;
    gap: 15px;
    .user-avatar {
      img {
        width: rem(40);
          height: rem(40);
        @media (min-width: 1400px)  {
          width: rem(50);
          height: rem(50);
         }
        border-radius: 50%;
      }
    }
    .title {
      color: #6F59D7;
    }
  }
  ul.topBar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    a.btn-main {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 5px 20px;
      background-color: #4D5ED2 !important;
      border-radius: 150px;
      color: $white-color;
      transition: all 0.3s linear;
      &:hover {
        box-shadow: 0 2px 10px #4D5ED2;

      }
    }
    .bell {
      color: #1C274C;
      position: relative;
      display: block;
      padding:  rem(15);
      border-radius: rem(15);
      &::after {
        display: none;
      }
      i  {
        position: relative;
        .badge  {
          position: absolute;
          background-color: #FF4A4A;
          top: -16px;
          inset-inline-start: -10px;
          border-radius: 50%;
          padding: 3px 5px;
          font-size: rem(14);
          font-family: cairo;

        }
      }

      &:hover {
        background-color: rgba(#4D5ED2 , .11);
      }
    }
    .settings {
      color: #1C274C;
      position: relative;
      display: block;
      padding:  rem(15);
      border-radius: rem(15);
      margin-inline-start: 5px;
      // border-inline-start: 1px solid rgba(#1C274C , .11);
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        inset-inline-start: -15px;
        border-inline-start: 1px solid rgba(#1C274C , .11);

      }
      &::after {
        display: none;
      }
      &:hover {
        background-color: rgba(#4D5ED2 , .11);
      }
    }
  }
}


.reservation-modal {
  input, textarea {
    box-shadow: 0 1px 2px rgba(#000, 0.05);
  }
  .modal-body {
    .icon-end {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        inset-inline-end: 15px;
        color: #3F6AFA;

    }
  }
  textarea {
    resize: none;
  }
  .modal-header {
    border: none;
    border-radius: 15px;
    padding: 20px 15px;
    background-color: #3F6AFA;
    box-shadow: 0 15px 15px rgba(#3F6AFA,.25);
    color: $white-color;
    margin: 15px;
    .btn-close {
      filter: invert(1);
    }
  }
  .modal-footer {
    button {
      padding: 10px 25px;
      width: 20%;
    }
  }

}
