<section class="real-estate-page">
  <header class="main-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="content">
            <h1>لوحة المعلومات</h1>
            <p>مرحبا يمكنك من هنا متابعة
              <a href="">عقاراتك</a>
              و البدء فى ادارة العقار بسهول</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="image">

            <img src="../../../assets/imgs/logoWhite.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </header>
  <header class="header-title mb-4">
    <div class="d-flex justify-content-between">
      <h4>  عقاراتي</h4>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reservationModal">
        <img src="../../../assets/imgs/iconSidebar/BuildingsIcon.png" alt="" class="me-2" width="20">
                إضافة عقار جديد
      </button>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4" >
        <div class="card-real" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          <div class="card-image">
            <img src="../../../assets/imgs/cardReal.png" alt="">
          </div>
          <div class="card-body">
            <div class="title">
              <h5 class="mb-0">AlNoor</h5>

              <span class="label">مستاجر</span>
            </div>
            <div class="info">
              <span><i class="fa-solid fa-location-dot"></i></span>
              منطقة الجوف / سكاكا / الروابي
            </div>
            <div class=" details ">
              <div class="size">
                <span><img src="../../../assets/imgs/width.png" alt=""></span>
                1200 متر مربع
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/cough.png" alt=""></span>
                 7
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/bild.png" alt=""></span>
                سكني
              </div>
            </div>
            <button class="btn favourite">
              <span class="icon"><i class="fa-regular fa-heart"></i></span>
              إضافى للمفضل
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-real" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          <div class="card-image">
            <img src="../../../assets/imgs/cardReal.png" alt="">
          </div>
          <div class="card-body">
            <div class="title">
              <h5 class="mb-0">AlNoor</h5>

              <span class="label">مستاجر</span>
            </div>
            <div class="info">
              <span><i class="fa-solid fa-location-dot"></i></span>
              منطقة الجوف / سكاكا / الروابي
            </div>
            <div class=" details ">
              <div class="size">
                <span><img src="../../../assets/imgs/width.png" alt=""></span>
                1200 متر مربع
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/cough.png" alt=""></span>
                 7
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/bild.png" alt=""></span>
                سكني
              </div>
            </div>
            <button class="btn favourite">
              <span class="icon"><i class="fa-regular fa-heart"></i></span>
              إضافى للمفضل
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-real" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          <div class="card-image">
            <img src="../../../assets/imgs/cardReal.png" alt="">
          </div>
          <div class="card-body">
            <div class="title">
              <h5 class="mb-0">AlNoor</h5>

              <span class="label">مستاجر</span>
            </div>
            <div class="info">
              <span><i class="fa-solid fa-location-dot"></i></span>
              منطقة الجوف / سكاكا / الروابي
            </div>
            <div class=" details ">
              <div class="size">
                <span><img src="../../../assets/imgs/width.png" alt=""></span>
                1200 متر مربع
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/cough.png" alt=""></span>
                 7
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/bild.png" alt=""></span>
                سكني
              </div>
            </div>
            <button class="btn favourite">
              <span class="icon"><i class="fa-regular fa-heart"></i></span>
              إضافى للمفضل
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-real" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          <div class="card-image">
            <img src="../../../assets/imgs/cardReal.png" alt="">
          </div>
          <div class="card-body">
            <div class="title">
              <h5 class="mb-0">AlNoor</h5>

              <span class="label">مستاجر</span>
            </div>
            <div class="info">
              <span><i class="fa-solid fa-location-dot"></i></span>
              منطقة الجوف / سكاكا / الروابي
            </div>
            <div class=" details ">
              <div class="size">
                <span><img src="../../../assets/imgs/width.png" alt=""></span>
                1200 متر مربع
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/cough.png" alt=""></span>
                 7
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/bild.png" alt=""></span>
                سكني
              </div>
            </div>
            <button class="btn favourite">
              <span class="icon"><i class="fa-regular fa-heart"></i></span>
              إضافى للمفضل
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-real" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          <div class="card-image">
            <img src="../../../assets/imgs/cardReal.png" alt="">
          </div>
          <div class="card-body">
            <div class="title">
              <h5 class="mb-0">AlNoor</h5>

              <span class="label">مستاجر</span>
            </div>
            <div class="info">
              <span><i class="fa-solid fa-location-dot"></i></span>
              منطقة الجوف / سكاكا / الروابي
            </div>
            <div class=" details ">
              <div class="size">
                <span><img src="../../../assets/imgs/width.png" alt=""></span>
                1200 متر مربع
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/cough.png" alt=""></span>
                 7
              </div>
              <div class="size">
                <span><img src="../../../assets/imgs/bild.png" alt=""></span>
                سكني
              </div>
            </div>
            <button class="btn favourite">
              <span class="icon"><i class="fa-regular fa-heart"></i></span>
              إضافى للمفضل
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-real-details></app-real-details>

<!-- Start Modal -->
<div class="modal fade reservation-modal" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="reservationModalLabel">
          <i class="fa-solid fa-headset me-2"></i>
          دعم جديد

        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form >
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">اسم العقار</label>
                  <input type="text" class="form-control form-control-lg" >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">العنوان </label>
                  <div class="position-relative">
                    <input type="text" class="form-control form-control-lg" placeholder="منطقة الجوف / سكاكا / الروابي">
                    <div class="icon-end"><i class="fa-regular fa-map"></i></div>

                  </div>
                </div>
              </div>
              <div class="col-lg-6"><div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">نوع العقار</label>
                <select class="form-select form-select-lg" aria-label="Default select example">
                  <option selected>حدد نوع العقار  </option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div></div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"> عدد الضيوف</label>
                  <input type="text" class="form-control form-control-lg" >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"> اسم المالك
                    <small class="text-primary">( إختياري )</small> </label>
                  <input type="text" class="form-control form-control-lg" >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"> رقم الجوال
                    <small class="text-primary">( إختياري )</small> </label>
                  <input type="text" class="form-control form-control-lg" >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">  البريد الإلكتروني
                    <small class="text-primary">( إختياري )</small> </label>
                  <input type="email" class="form-control form-control-lg" >
                </div>
              </div>

            </div>
          </div>





        </form>
      </div>
      <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-primary">
          <i class="fa-solid fa-check me-2"></i>
          حفظ
        </button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">إلغاء</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
