<div class="offcanvas offcanvas-start real-details-page" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <!-- <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div> -->
  <div class="offcanvas-body">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/imgs/cardReal.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/imgs/cardReal.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/imgs/cardReal.png" class="d-block w-100" alt="...">
        </div>
      </div>

    </div>


    <div class="card-description">
      <div class="title">
        <h5 class="mb-0">AlNoor</h5>

        <span class="label">مستاجر</span>
      </div>
      <div class="info">
        <span><i class="fa-solid fa-location-dot"></i></span>
        منطقة الجوف / سكاكا / الروابي
      </div>
      <div class=" details ">
        <div class="size">
          <span><img src="../../../assets/imgs/width.png" alt=""></span>
          1200 متر مربع
        </div>
        <div class="size">
          <span><img src="../../../assets/imgs/cough.png" alt=""></span>
           7
        </div>
        <div class="size">
          <span><img src="../../../assets/imgs/bild.png" alt=""></span>
          سكني
        </div>
      </div>
      <div class="description">
        وصف بسيط
      </div>
    </div>
  </div>
  <div class="offcanvas-footer">
    <button class="btn btn-primary bg-gradient">تعديل</button>
    <button class="btn btn-outline-danger" data-bs-dismiss="offcanvas" aria-label="Close">إلغاء</button>
    </div>

</div>
