
<nav  class="nav-bar">
  <div class="icon-toggle">
    <i class="fa-solid fa-bars"></i>
  </div>
  <div class="user-info">
        <span class="user-avatar"><img src="../../../../assets/imgs/user.jpeg" alt="user photo"></span>
        <span class="user-name ">
          <h6 class="mb-0">Ahmed Magdy</h6>
          <small class="title">مدير عقار</small>
        </span>


      </div>

  <ul class="topBar-menu">
    <li class="new-reservation">
      <a href="" class=" btn btn-main" >
       <img src="../../../../assets/imgs/iconSidebar/Buildings.png" alt="">
       اضافة حجز جديد
      </a>
    </li>
    <!-- Start -->
    <li class="dropdown">

      <a href="#" class="nav-link dropdown-toggle bell" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
        <i class="fa-regular fa-bell fa-lg"> <span class="badge">9</span></i>

      </a>
      <!-- <div class="dropdown-menu notify dropdown-menu-end">
        <div class="dropdown-header">
          <div class="row">
            <div class="col"><h6>الاشعارات </h6></div>
            <div class="col-auto"><a href="#" class="alert alert-danger py-1 px-2"><small> مسح الكل</small></a></div>
          </div>
        </div>
        <div class="notify-body">
          <div class="date">Today</div>

          <a class="dropdown-item alert" href="#">
            <div class="d-flex align-items-center">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <div class="flex-shrink-0">
                <div class="notify-icon"><i class="fi fi-rr-info"></i></div>
              </div>
              <div class="flex-grow-1 ms-2">
                <h5 class="notify-title">Admin <small class="time ms-1">1 min ago</small></h5>
                <small class="notify-subtitle">New user registered</small>
              </div>
            </div>
          </a>

          <a class="dropdown-item alert" href="#">
            <div class="d-flex align-items-center">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <div class="flex-shrink-0">
                <div class="notify-icon bg-info"><i class="fi fi-rr-comment-alt"></i></div>
              </div>
              <div class="flex-grow-1 ms-2">
                <h5 class="notify-title">Ayman Eid <small class="time ms-1">1 hours ago</small></h5>
                <small class="notify-subtitle">Wow ! this admin looks good and awesome design</small>
              </div>
            </div>
          </a>

          <div class="date">Yesterday</div>

          <a class="dropdown-item alert" href="#">
            <div class="d-flex align-items-center">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <div class="flex-shrink-0">
                <div class="notify-icon bg-warning"><i class="fi fi-rr-triangle-warning"></i></div>
              </div>
              <div class="flex-grow-1 ms-2">
                <h5 class="notify-title">Dummy Text</h5>
                <small class="notify-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
              </div>
            </div>
          </a>

          <div class="date">30 Dec 2023</div>

          <a class="dropdown-item alert" href="#">
            <div class="d-flex align-items-center">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <div class="flex-shrink-0">
                <div class="notify-icon"><i class="fi fi-rr-info"></i></div>
              </div>
              <div class="flex-grow-1 ms-2">
                <h5 class="notify-title">User Name</h5>
                <small class="notify-subtitle">New user registered</small>
              </div>
            </div>
          </a>

          <a class="dropdown-item alert" href="#">
            <div class="d-flex align-items-center">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <div class="flex-shrink-0">
                <div class="notify-icon"><i class="fi fi-rr-info"></i></div>
              </div>
              <div class="flex-grow-1 ms-2">
                <h5 class="notify-title">Admin</h5>
                <small class="notify-subtitle">New user registered</small>
              </div>
            </div>
          </a>

        </div>
        <div class="dropdown-footer"><a class="dropdown-item" href="#">View All</a></div>
      </div> -->
    </li>
    <!-- End -->


    <li class="dropdown">
      <a href="#" class="nav-link dropdown-toggle settings" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-gear fa-lg"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#"><i class="me-1"><i class="fa-solid fa-user"></i></i> ملفى الشحصي</a></li>
        <li><a class="dropdown-item" href="#"><i class="me-1"><i class="fa-solid fa-gear"></i></i> الإعدادات</a></li>
        <li><a class="dropdown-item" href="#"><i class="me-1"><i class="fa-solid fa-headset"></i></i> الدعم الفني</a></li>
        <li><a class="dropdown-item" href="#"><i class="me-1"><i class="fa-solid fa-globe"></i></i> EN</a></li>
        <li><hr class="dropdown-divider"></li>

        <li><a class="dropdown-item" href="#"><i class="me-1"><i class="fa-solid fa-right-from-bracket"></i></i> تسجيل الخروج</a></li>
      </ul>
    </li>
  </ul>

</nav >


