<section class="page-login">
  <div class="content-login">
    <div class="login-form">

      <header class="header text-cetnter mb-5">
        <div class="img-logo mb-4">
          <img src="../../../assets/imgs/imgLogin.png" alt="logo" class="d-block w-75 mx-auto">
        </div>
        <h4 class="text-white mb-4">نسيت كلمة المرور</h4>
        <h5 class="text-white"> أدخل بريدك الإلكتروني لإرسال رابط إعادة تعيين كلمة المرور</h5>
      </header>
      <form class="form " [formGroup]="forgotForm">
        <div class="form-login bg-white    text-start">
          <div class="mb-3">
            <label for="email" class="form-label">البريد الإلكتروني</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <div class="alert alert-danger p-1 px-3"
              *ngIf="forgotForm.get('email')?.errors && forgotForm.get('email')?.touched">
              <span class="mb-0 form-text" *ngIf="forgotForm.get('email')?.getError('required')">Email Is required</span>
              <span class="mb-0 form-text" *ngIf="forgotForm.get('email')?.getError('email')">Email Is invalid</span>
            </div>
          </div>


          <button type="submit" class="btn btn-primary bg-gradient
            w-100 d-block mb-3">
            إرسال
          </button>
          <p class="text-center mb-0">
            <a [routerLink]="['../login']" >تسجيل الدخول </a>

          </p>

        </div>



      </form>
    </div>

  </div>
</section>
