.real-estate-page {
  .header-title {
    button {
      padding: rem(5) rem(15);
      @media (min-width: 1400px)  {
        padding: rem(10) rem(25);      }
    }
  }

  .card-real {
    display: flex;
    width: 100%;
    background-color:  #F2F5FF;
    padding: 16px 13px;
    border-radius: 15px;
    gap: rem(10);
    @media (min-width: 1400px)  {
      gap: rem(20);
    }
    transition: all 0.3s linear;
    box-shadow: 0 0 0 rgba(63, 107, 250, 0)        ;
    cursor: pointer;
    margin-bottom: 20px;
    .card-image {
      img {
        height: 70px;
        width: 70px;
        @media (min-width: 1400px)  {
          height: 112px;
          width: 112px;
        }
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid #fff;
        box-shadow: 0 rem(15) rem(20) rgba(63, 107, 250, 0.4)        ;
        @media (min-width: 1400px)  {
          box-shadow: 0 rem(30) rem(40) rgba(63, 107, 250, 0.4)        ;
        }
      }
    }
    .card-body {
      flex-grow: 2;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        .label {
          background-color: #5EDE8A;
          color: #fff;
          border-radius: rem(50);
          padding: rem(5) rem(20);
          @media (min-width: 1400px)  {
            padding: rem(5) rem(50);
          }
        }
      }
      .info {
        margin-bottom: 10px;
        span {
          color: #3F6AFA ;
        }
      }
      .details {
        gap: rem(10);
        @media (min-width: 1400px)  {
          gap: rem(20);

        }
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .size {
          gap: 5px;
        display: flex;
        align-items: center;
        }
      }
      .favourite {
        gap: 10px;
        display: flex;
        align-items: center;
        background-color: #D4E2FF;
        color: #3F6AFA;
        padding: rem(5) rem(10);
        @media (min-width: 1400px)  {
          padding: rem(10) rem(20);
        }
        border-radius: 50px;
      }
    }
    &:hover {
      box-shadow: 0 30px 40px rgba(63, 107, 250, 0.4)        ;
    }
  }
}
