<section class="error-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 text-center">
        <div class="image">
          <img src="../../../../assets/imgs/404-error.png" alt="" class="w-75">
        </div>
        <h4 class="mb-3">عذراً ؛ ولكن الصفحة التى تبحث عنها غير موجودة</h4>
        <p>يمكن العودة الى
        </p>
        <a routerLink="../../" class="btn btn-primary rounded-pill px-4">الصفحة الرئيسية</a>
      </div>
    </div>
  </div>
</section>
