<aside class="sidebar">
  <!-- <button type="button" class="btn-close" onclick="slideBtn()"></button> -->
  <a href="#" class="sidebar-brand">
    <img src="../../../../assets/imgs/logoWhite.png" alt="logo" class="logo-light">
    <!-- <img src="img/logo-1-dark.svg" alt="logo" class="logo-dark"> -->

  </a>
  <ul id="nav_accordion" class="sidebar-nav main-list">
    <li class="sidebar-nav-item">
      <a class="sidebar-nav-link" [routerLink]="['./tasks']" routerLinkActive="active">
        <img src="../../../../assets/imgs/iconSidebar/Notes.png" alt="">
        <span class="item-name">مهامي</span>
      </a>
    </li>
    <li class="sidebar-nav-item">
      <a class="sidebar-nav-link" routerLink="realEstate" routerLinkActive="active">
        <img src="../../../../assets/imgs/iconSidebar/City.png" alt="">
        <span class="item-name">عقاراتي</span>
      </a>
    </li>
    <li class="sidebar-nav-item">
      <a class="sidebar-nav-link" routerLink="informationPanel" routerLinkActive="active">
        <img src="../../../../assets/imgs/iconSidebar/information.png" alt="">
        <span class="item-name">لوحة المعلومات</span>
      </a>
    </li>
    <li class="sidebar-nav-item">
      <a class="sidebar-nav-link active" routerLink="technicalSupport" routerLinkActive="active">
        <img src="../../../../assets/imgs/iconSidebar/technical.png" alt="">
        <span class="item-name">الدعم الفني</span>
      </a>
    </li>


</ul>
<ul id="nav_accordion" class="sidebar-nav">
  <li class="sidebar-nav-item">
    <a class="sidebar-nav-link" href="#">
      <img src="../../../../assets/imgs/iconSidebar/exit.png" alt="">
      <span class="item-name">تسجيل الخروج</span>
    </a>
  </li>
  </ul>
</aside><!--sidebar--->
